body {
  font-family: 'Roboto', sans-serif;
  color: rgb(167, 54, 54);
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}